@charset "iso-8859-1";


<style type="text/css">

/*Pongo una primera orden vacía porque en algunos casos esta orden será ignorada*/
body
    {
    	
    }

body 	
	{ 
        background-color:#ffffc8;
        margin-left: 10%; 
        margin-right: 10%; 
	}
/* 
Las cabeceras de nivel 1 se escribirán con letra roja
*/	
h1 	
    { 
        color: #7070ff;
    }

h1, h2, h3, h4, h5, h6
    { 
        text-align: center;
    }
    
</style>
