
<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Ejercicio 7</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../css/style.css">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="text-bg">
                     <h1>Ejercicio 7</h1>
                     <span>Entrega 1</span>
                     <p><strong>David Cabezas Berrido</strong></p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="text-img">
                     <figure><img src="../images/yo.jpg" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- Contenido -->
      <div id="" class="hosting">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="web_hosting">
                     <p>
Fijamos la semilla.
</p>

<!--begin.rcode
set.seed(18)
end.rcode-->

  <p>
 El juego acabará con seguridad en los próximos 4 lanzamientos, puede que antes. <br/>
 Podemos escribir posibles resultados de los próximos 4 lanzamientos como una palabra con
 los símbolos A y B, según quien gane. <br/> Por ejemplo: AAAB (gana A), ABBA (gana A), ABBB (gana B). <br/>
 El número de palabras de longitud 4 que pueden formarse con 2 símbolos es 2^4=16.
</p>

<p>
 En los 16 casos que acabamos de describir, el jugador B gana en los casos con 3 o más Bs. <br/>
 Como todos los casos son equiprobables, basta contar el número de casos en los que gana B. <br/>
 B gana en BBBB, y en todos los que tienen 3Bs y una A, que son 4 (hay 4 posiciones posibles para la A). <br/>
 Por tanto la probabilidad de que gane B es 5/16, y la de A es 9/16. De modo que A se llevará 9/16 de
 la apuesta y B se llevará 5/16.
 </p>

<p> Los puntos en la interrupción y el total de lanzamientos acertados para ganar son arbitrarios. <br/>
 Notemos que el juego está obligado a terminar en un número finito de rondas.
 </p>
 
<!--begin.rcode
simular <- function(A=0, B=0, lim=6){ 
  puntos=c(A,B)
  while(puntos[1]<lim && puntos[2]<lim){ # Hasta que uno gane
    ganador = sample(2,1,T)
    puntos[ganador]=puntos[ganador]+1 # 1 punto para el ganador de la ronda
  }
  if (puntos[1]==lim){ # Gana A, jugador 1
    return(1)
  }
  else{ # Gana B, jugador 2
    return(2)
  }
}

simular(4,1)

repetir <- function(n=10000, lim=6){ # Simula n veces
  ganadas=c(0,0)
  for (i in 1:n){
    ganador=simular(A=4,B=3, lim=lim)
    ganadas[ganador]=ganadas[ganador]+1 # Una partida ganada para el jugador 1 (A) o 2 (B)
  }
  return(ganadas)
}

partidas=98765
ganadas=repetir(partidas)
ganadas
ganadas[1]/partidas # Proporción de partidas ganadas por A
ganadas[2]/partidas # Proporción de partidas ganadas por B
end.rcode-->

<p> 5/16 = 0.3125, la proporción de partidas que gana B es similar a la probabilidad que calculamos. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Contenido -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>Plantilla tomada de <a href="https://www.free-css.com/free-css-templates/page266/data-web">https://www.free-css.com/free-css-templates/page266/data-web</a></p>
                        
                        <p>© 2019 All Rights Reserved. <a href="https://html.design/">Free html Templates</a></p>   
                     </div>
                  </div>
               </div>
            </div>
         </div>
    
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/custom.js"></script>
   </body>
</html>
