<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Ejercicio 1</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../css/style.css">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="text-bg">
                     <h1>Ejercicio 1</h1>
                     <span>Entrega 1</span>
                     <p><strong>David Cabezas Berrido</strong></p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="text-img">
                     <figure><img src="../images/yo.jpg" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- Contenido -->
      <div id="" class="hosting">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="web_hosting">
                     <p>
Fijamos la semilla.
</p>

<!--begin.rcode
set.seed(18)
end.rcode-->

<p>
Al lanzar dos monedas al aire (las numeramos como moneda 1 y moneda 2) tenemos 4 resultados posibles:
HH, HT, TH, TT <br>
donde H significa cara (Heads) y T cruz (Tails); la primera letra es el
resultado de la moneda 1 y la segunda de la 2. <br>
Suponiendo que las monedas están equilibradas, los 4 resultados son equiprobables. Por tanto, la probabilidad
de cada suceso puede calcularse como casos favorables entre casos posibles. <br>
a) La probabilidad de dos caras es 1/4=0.25. <br>
b) La probabilidad de dos cruces es 1/4=0.25. <br>
c) La probabilidad de una cara y una cruz es 2/4=1/2=0.5. <br>
</p>

<p>
Función que simula una realización del experimento. <br>
Es más cómodo trabajar con datos numéricos pongamos que el 0 es cara y el 1 es cruz. <br>
</p>

<!--begin.rcode
monedas <- function(){
  return( sample(c(0,1),2,T,c(1,1)) )  # Devuelve un vector con los resultados de los dos lanzamientos
}
end.rcode-->

<p>
Ya que conocemos la probabilidad de cada suceso, podríamos simplemente extraer un resultado con
<code>sample(c('HH','TT','HT'),1,F,c(1,1,2))</code>.
</p>

<p>
Si la suma del vector es 0, tenemos doble cara; si es 2, tenemos doble cruz; y si es 1, cara y cruz (o cruz y cara).<br>
Repetimos el experimento 15000 veces y observamos el número de veces que se obtiene cada resultado.
</p>

<!--begin.rcode
resultados=c(0,0,0) # Para contar el número de veces que se da cada resultado

repeticiones=15000

for (i in 1:repeticiones) {
  i = sum(monedas())+1 # Posición 1 para doble cara, posición 2 para una cara y una cruz y posición 3 para doble cruz
  resultados[i]=resultados[i]+1
}

# Proporción de dobles caras:
resultados[1]/repeticiones
# Proporción de dobles cruces:
resultados[3]/repeticiones
# Proporción de veces que obtenemos una cara una cruz:
resultados[2]/repeticiones
end.rcode-->

<p>
Los resultados obtenidos difieren ligeramente de las probabilidades teóricas, pero se asemejan mucho.
</p>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Contenido -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>Plantilla tomada de <a href="https://www.free-css.com/free-css-templates/page266/data-web">https://www.free-css.com/free-css-templates/page266/data-web</a></p>
                        
                        <p>© 2019 All Rights Reserved. <a href="https://html.design/">Free html Templates</a></p>   
                     </div>
                  </div>
               </div>
            </div>
         </div>
    
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/custom.js"></script>
   </body>
</html>
