<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <title>Ejercicio 5</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>

<center>
  <H1>Entrega 1: Ejercicio 5</H1>
  <h2> David Cabezas </h2>
</center> 

<p>
Fijamos la semilla.
</p>

<!--begin.rcode
set.seed(18)
end.rcode-->



</body>
</html>